/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

main {
  padding: 60px 15px 15px;
  position: relative;
}

img {
  margin-bottom: 30px;
}

.nav {
  background-color: #4c4c4c;
  height: 44px;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
}

.red {
  background-color: #e00000;
}

.rectangle {
  height: 80px;
  width: 40px;
  position: fixed;
  top: 96px;
  left: 0;
}

.round {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.exercice-1,
.exercice-2,
.exercice-3,
.exercice-4,
.exercice-5 {
  position: relative;
}

.element-1 {
  background-color: #d8d8d8;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.element-2 {
  background-color: #d8d8d8;
  position: absolute;
  height: 44px;
  width: 360px;
  bottom: 30px;
  opacity: 58%;
}

.element-3 {
  background-color: #d8d8d8;
  position: absolute;
  height: 165px;
  width: 320px;
  opacity: 58%;
  top: 20px;
  left: 20px;
}

.element-4 {
  background-color: #d8d8d8;
  height: 20px;
  width: 20px;
  margin: 5px;
}

.small-elements {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.container-4 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.center {
  background-color: #d8d8d8;
  height: 44px;
  width: 71px;
  position: absolute;
  top: 80px;
  left: 144px;
}

.exercice-5 img {
  height: 103px;
  width: 175px;
  margin-bottom: 78px;
}

.exercice-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element-5-1 {
  position: absolute;
  background-color: #d8d8d8;
  height: 44px;
  width: 175px;
  bottom: 78px;
  left: 0;
  opacity: 58%;
}

.element-5-2 {
  position: absolute;
  background-color: #d8d8d8;
  height: 44px;
  width: 175px;
  bottom: 78px;
  left: 186px;
  opacity: 58%;
}
