/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

header {
  position: relative;
}

main {
  padding: 15px;
  position: relative;
}

img {
  margin-bottom: 30px;
}

.nav {
  background-color: #4c4c4c;
  height: 44px;
}

.red {
  background-color: #e00000;
}

.rectangle {
  height: 80px;
  width: 40px;
  position: absolute;
  top: 96px;
  left: 0;
}

.round {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.exercice-1,
.exercice-2,
.exercice-3,
.exercice-4,
.exercice-5 {
  position: relative;
}

.element-1 {
  background-color: #d8d8d8;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.element-2 {
  background-color: #d8d8d8;
  position: absolute;
  height: 44px;
  width: 360px;
  bottom: 30px;
  opacity: 58%;
}

.element-3 {
  background-color: #d8d8d8;
  position: absolute;
  height: 165px;
  width: 320px;
  opacity: 58%;
  top: 20px;
  left: 20px;
}
